.header {
    background: linear-gradient(to bottom, rgb(6, 195, 60), #03300b);
    padding: 10px;
    border-bottom: 1px solid grey;
    box-shadow: rgb(33 33 33) 0px 2px 10px 1px;
}

.nav {
    margin: 0, 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin-right: 20px;
    color: #30af0d;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    transition: all 0.5s ease-out;

}