.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 11px;
    width: 310px;

}

.label {

    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-right: 11px;
}

.input {
    width: 300px;
    outline: none;
    border-radius: 100px;
    padding: 5px;
    border: 1px solid;
    background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;

    &:hover,
    &:focus {
        background-color: #dde6ed;
    }

}

.button {
    display: inline-block;
    align-self: center;
    width: 110px;
    margin-right: 2px;
    padding: 8px 15px;
    background: none;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    color: #666;
    outline: none;
    transition: all 100ms ease-out;
    border: 1px solid #077f07;
    background: #1cd00f;
    color: #fff;

    &:hover,
    &:focus {
        transform: translateY(-3px);
    }
}