.box {
    display: flex;

}


.link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin-right: 20px;
    color: #1eb50a;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    transition: all 0.5s ease-out;

}