.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}